<launch>

<arg name="x" default="0.0"/>
<arg name="y" default="0.0"/>
<arg name="a" default="0.0"/>

<node name="map_server" pkg="map_server" type="map_server" args="$(find ebot_nav)/maps/task5.yaml" />

<node pkg="amcl" type="amcl" name="amcl" output="screen">

  <remap from="scan" to="/ebot/laser/scan" />
  <remap from="cmd_vel" to="cmd_vel"/>
  <remap from="odom" to="odom" />

  <!-- Publish scans from best pose at a max of 10 Hz -->
  <param name="odom_model_type" value="diff"/>

  <param name="transform_tolerance" value="0.22" />
  <param name="gui_publish_rate" value="10.0"/>
  <param name="laser_max_beams" value="30"/>
  <param name="min_particles" value="100"/>
  <param name="max_particles" value="4000"/>

  <param name="kld_err" value="0.01"/>
  <param name="kld_z" value="0.99"/>
  <param name="odom_alpha1" value="0.005"/>
  <param name="odom_alpha2" value="0.005"/>
  <param name="odom_alpha3" value="0.005"/>
  <param name="odom_alpha4" value="0.005"/>

  <param name="laser_z_hit" value="0.9"/>
  <param name="laser_z_short" value="0.05"/>
  <param name="laser_z_max" value="0.05"/>
  <param name="laser_z_rand" value="0.5"/>
  <param name="laser_sigma_hit" value="0.1"/>
  <param name="laser_lambda_short" value="0.1"/>
  <param name="laser_lambda_short" value="0.1"/>

  <param name="laser_model_type" value="likelihood_field"/>
  <param name="laser_likelihood_max_dist" value="2.0"/>
  <param name="update_min_d" value="0.25"/>
  <param name="update_min_a" value="0.2"/>
  <param name="odom_frame_id" value="odom"/>
  <param name="base_frame_id" value="ebot_base"/>
  <param name="global_frame_id" value="map"/>
  <param name="resample_interval" value="1"/>

  <param name="recovery_alpha_slow" value="0.0"/>
  <param name="recovery_alpha_fast" value="0.0"/>
  <param name="initial_pose_x" value ="$(arg x)"/>
  <param name="initial_pose_y" value ="$(arg y)"/>
  <param name="initial_pose_a" value ="$(arg a)"/>

</node>

 <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find ebot_nav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ebot_nav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ebot_nav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ebot_nav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ebot_nav)/config/base_local_planner_params.yaml" command="load" />
  </node>

</launch>
